@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
  font-family: 'Naruto';
  src: url('./assets/njnaruto.ttf');
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Naruto", "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1b2124;
}

body{
  background: url('./assets/konoha.jpg');
  background-size: 100% 100%;
  background-position: 50%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}


.cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  height: 100vh;
}

.card{
  border: 2px solid #edb870;
  border-radius: 8px;
  font-size: 24px;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.card img{
  border-radius: 4px;
}

.card:hover{
  box-shadow: 2px 2px 8px #e86e38;
}
.header{
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 900px){
  .header, .card{
    font-size: 18px;
  }
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100vw;
  }
  body{
    background-size: auto 100%;
    background-repeat: repeat;
  }
}

@media (max-width: 650px){
  .header, .card{
    font-size: 12px;
  }
  .card img{
    height: 100px;
  }
  .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}


.leaderboard{
  min-width: 150px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: calc(min(1800px, 100vw));
  justify-self: flex-start;
}